.dropdown { padding-top: 0; }
.dropdown-backdrop { position: unset;}
.dropdown-menu { padding: 0; }
.validation-summary-valid { background-color: transparent;}

/*custom option for acctions button*/
.dropdown-menu > li > form > button {
  text-decoration:none;
  color: #666666;
  background-color: #ffffff;
  display: block;
  border:none;
  padding-right: 75px;
}
.dropdown-menu > li > form > button:hover,
.dropdown-menu > li > form > button:focus {
  text-decoration: none;
  color: #141414;
  background-color: #eeeeee;
  padding-right: 75px;
}
/*switch approved and unapproved*/
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
  margin-bottom: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-logout {
  text-decoration:none;
  display: block;
  background-color: #ffffff;
  border:none;
  padding-right: 60px;
  width: 100%;
}

.btn-logout:hover {
  text-decoration:none;
  color: #141414;
  background-color: #eeeeee;
  display: block;
  border:none;
  padding-right: 60px;
  width: 100%;
}
@media(min-width:768px) {
 .sidebar-nav {
  max-height:calc(100vh - 74px) !important;
  
 }
}
@media(max-width:768px) {
  .btn-logout:hover{text-decoration:none;color:#141414;/* background-color:#eee; */display:block;border:none;padding-left:25px; background-color: #ffffff; width:unset;}
  .btn-logout{text-decoration:none;/* display:block; */background-color:#fff;border:none; padding-left:25px; width:unset; }
  .navbar-inverse .navbar-toggle .icon-bar {
  background-color:rgba(255,255,255,1)
 }
 .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color:#fff
 }
 .navbar-bar { margin: 0; }
  .sidebar-nav {
  max-height:calc(100vh - 50vh) !important;
  
 }
}
.pagination>li {
 cursor:pointer
}
.page-footer {
 padding:15px
}
.hero {
 height:100%;
 width:100%;
 background:url("/Assets/img/fca.jpg") no-repeat center center #000;
 background-size:cover;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 display:table
}
.quote {
 text-align:center;
 vertical-align:middle;
 display:table-cell;
 color:#fff;
 background-color:rgba(0,0,0,.5);
 padding:40px
}
.white-text {
 color:#fff
}
body {
 margin-top:74px;
 height:100%
}
html,app,home {
 height:100%
}
.navbar-inverse .navbar-nav>li>a {
 color:#fff
}
.img-media-object {
 margin-right:8px;
 margin-top:-5px;
 width:50px;
 height:50px
}
.search-items {
 margin-bottom:30px
}
a:hover,a:focus {
 text-decoration:none
}
.divider {
 height:1px;
 margin:10.5px 0;
 background-color:#e5e5e5
}
.list-group-item-date {
 margin-left:10px
}
.btn-curriculum {
 margin-top:10px
}
.overview {
 background-color:#fff
}
.navbar-top-links>li>a {
 color:#fff
}
.inline {
 display:inline-block
}
.img-logo {
 max-height:45px;
 max-width:120px;
 display:inline-block
}
.img-user {
 max-height:35px;
 max-width:35px;
 display:inline-block
}
/* .nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
 background-color:#007141
} */
.navbar-side-links>li>a {
 color:#262626;
 background-color:none
}
.nav-second-level>li>a {
 color:#3b3f3f;
 background-color:none
}

.navbar-default {
 background-color:#fff
}

.item-sidebar {
 padding:5px 10px
}
.login-panel {
 margin-top:25%
}
#login .center {
 text-align:center
}
#login .login {
 max-width:300px;
 margin:35px auto
}
#login .login-form {
 padding:0 25px
}
.table-button {
 margin-bottom:20px
}
body {
 background-color:#fbfbfb
}
#wrapper {
 width:100%
}
#page-wrapper {
 padding:10px 15px;
 min-height:568px;
 background-color:#fff
}
@media(min-width:768px) {
 #page-wrapper {
  position:inherit;
  margin:2px 0 0 250px;
  padding:10px 30px;
  border-left:1px solid #e7e7e7
 }
}
.sidebar .sidebar-nav .navbar-collapse {
 padding-left:0;
 padding-right:0
}
.sidebar .sidebar-search {
 padding:15px
}
.sidebar ul li a.active {
 background-color:#eee
}
.sidebar .arrow {
 float:right
}
.sidebar .fa.arrow:before {
 content:""
}
.sidebar .active>a>.fa.arrow:before {
 content:""
}
.sidebar .nav-second-level li,.sidebar .nav-third-level li {
 border-bottom:none !important
}
.sidebar .nav-second-level li a {
 padding-left:37px
}
.sidebar .nav-third-level li a {
 padding-left:52px
}
@media(min-width:768px) {
 .sidebar {
  z-index:1;
  position:absolute;
  width:250px;
  margin-top:2px;
  max-height: calc(100vh - 76px);
  overflow-y: scroll;
 }
 .navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts {
  margin-left:auto
 }
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #444444;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}