<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{bdetails?.title}}</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>ISBN</th>
                            <td>{{bdetails?.isbn}}</td>
                        </tr>
                        <tr>
                            <th>Edición</th>
                            <td>{{bdetails?.edition}}</td>
                        </tr>
                        <tr>
                            <th>Fecha de edición</th>
                            <td>{{bdetails?.editionDate | date}}</td>
                        </tr>
                        <tr>
                            <th>Editorial</th>
                            <td>{{bdetails?.editorial}}</td>
                        </tr>
                        <tr>
                            <th>Año</th>
                            <td>{{bdetails?.year}}</td>
                        </tr>
                        <tr>
                            <th>Paginas</th>
                            <td>{{bdetails?.printLength}}</td>
                        </tr>
                        <tr>
                            <th>Género</th>
                            <td>{{bdetails?.genre}}</td>
                        </tr>
                        <tr>
                            <th>Archivo</th>
                            <td><a target="_blank" *ngIf="bdetails?.bookPath != null" href="{{bdetails?.bookPath}}"><i class="fa fa-download"></i>Descargar</a>
                                <a target="_blank" *ngIf="bdetails?.bookPath == null" style="color:gray; pointer-events: none;"><i class="fa fa-download"></i>Descargar</a></td>
                        </tr>
                        <tr>
                            <th>Autor(es)</th>
                            <td *ngFor="let teacher of bdetails?.teacherBooks">
                                    {{teacher.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>