@model 

@{
    ViewData["Title"] = "Nuevo Cuerpo Academico";
}

<div id="wrapper">
    @await Html.PartialAsync("_AdminBar")

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">@ViewData["Title"]</h2>
            </div>

        </div>
        <form asp-controller="AcademicBodies" asp-action="New" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="alert alert-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PromepCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PromepCode" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConsolidationGradeId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="ConsolidationGradeId" asp-items="@ViewBag.ConsolidationGradeId"class="form-control"></select>
                </div>
            </div>


            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_Administration");}
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
} 