<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{cbdetails?.title}}</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Título de libro</th>
                        <td>{{cbdetails?.bookTitle}}</td>
                    </tr>
                    <tr>
                        <th>ISBN</th>
                        <td>{{cbdetails?.isbn}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de publicación</th>
                        <td>{{cbdetails?.publishedDate | date}}</td>
                    </tr>
                    <tr>
                        <th>Editorial</th>
                        <td>{{cbdetails?.editorial}}</td>
                    </tr>
                    <tr>
                        <th>Archivo</th>
                        <td><a target="_blank" *ngIf="cbdetails?.chapterbookPath != null"
                                href="{{cbdetails?.chapterbookPath}}"><i class="fa fa-download"></i> Descargar</a>
                            <a target="_blank" *ngIf="cbdetails?.chapterbookPath == null"
                                style="color:gray; pointer-events: none;"><i class="fa fa-download"></i> Descargar</a></td>
                    </tr>
                    <tr>
                        <th>Autor(es)</th>
                        <td *ngFor="let teacher of cbdetails?.teacherChapterbooks">
                            {{teacher.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>