<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="query.searchTerm" (keyup.enter)="onFilterChange()" placeholder="Buscar Capítulo Por Título, Título de libro, ISBN o Editorial">
                            <span class="input-group-btn">
                                <button (click)="onFilterChange()" class="btn btn-link" type="button"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <loading-spinner *ngIf="loading"></loading-spinner>
            <div *ngFor="let c of chapterbooks.items">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="../../../wwwroot/Assets/img/cima.png" alt="..." height="50px" width="50px">
                            </div>
                            <div class="media-body">
                                <a [routerLink]="['/chapterbooks',c.id]">
                                    <h4 class="media-heading">{{c.title}}</h4>
                                </a>
                            </div>
                            <div class="divider"></div>
                            <div class="pull-left">
                                <div class="list-group-item-text">
                                    <span *ngFor="let t of c.teacherChapterbooks|slice:0:2">
                                        <a [routerLink]="['/teachers',t.id]">{{t.name}}</a>
                                        <span *ngIf="c.teacherChapterbooks.length > 1">,</span>
                                    </span>
                                    <span *ngIf="c.teacherChapterbooks.length > 1">...</span>
                                    <span class="list-group-item-date">{{c.publishedDate | date}}</span>
                                </div>
                            </div>
                            <div class="text-right">
                                <a target="_blank" href="{{c?.chapterbookPath}}"><i class="fa fa-download"></i>
                                    <span>Descargar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul *ngIf="pager.pages  && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="onFilterChange(pager.currentPage - 1)">&laquo;</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="onFilterChange(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="onFilterChange(pager.currentPage + 1)">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="well" *ngIf="hasChapterbooks">
        No se encontraron resultados
    </div>
</div>