@using Microsoft.AspNetCore.Identity 
@using refca.Models 
@inject UserManager<ApplicationUser> UserManager
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">REFCA</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
                    <span>@UserManager.GetUserName(User)</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li>
                        <a asp-controller="Account" asp-action="overview">
                            <i class="fa fa-home fa-fw"></i> Home</a>
                    </li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button asp-controller="Account" asp-action="Logout" class="btn-logout" type="submit">
                                <i class="fa fa-sign-out fa-fw"></i> Logout</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse collapse">
            <ul class="nav navbar-side-links" id="side-menu">
                <li>
                    <a asp-controller="Article" asp-action="Manage">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i> Artículos</a>
                </li>
                <li>
                    <a asp-controller="Chapterbook" asp-action="Manage">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i> Capítulos de libro</a>
                </li>
                <li>
                    <a asp-controller="Research" asp-action="Manage">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i> Investigaciones</a>
                </li>
                <li>
                    <a asp-controller="Book" asp-action="Manage">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i> Libros</a>
                </li>
                <li>
                    <a asp-controller="Presentation" asp-action="Manage">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i> Ponencias</a>
                </li>
                <li>
                    <a asp-controller="Magazine" asp-action="Manage">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i> Revistas</a>
                </li>
                <li>
                    <a asp-controller="Thesis" asp-action="Manage">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i> Tesis</a>
                </li>

                <li>
                    <a asp-controller="Teacher" asp-action="List">
                        <i class="fa fa-users" aria-hidden="true"></i> Docentes</a>
                </li>
                  <li>
                    <a asp-controller="AcademicBodies" asp-action="List">
                        <i class="fa fa-users" aria-hidden="true"></i> Cuerpos academicos</a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Administrators">
                        <i class="fa fa-user-secret" aria-hidden="true"></i> Administradores</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="ChangePassword">
                        <i class="fa fa-lock fa-fw" aria-hidden="true"></i> Cambiar contraseña</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="ResetPassword">
                        <i class="text-danger fa fa-lock fa-fw" aria-hidden="true"></i> Reestablecer contraseña</a>
                </li>
            </ul>
        </div>
    </div>
</div>