<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" href="~/Assets/img/cima_8pX_icon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="dg07">
        <title>@ViewData["Title"] - REFCA</title>
        <base href="/" />
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link href="~/Assets/css/site.min.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)      
    </body>

</html>