@{
    ViewData["Title"] = "Accesso Denegado";
}

<link href="~/Assets/css/site.min.css" rel="stylesheet" />


<body id="error">

    <div class="error">
        <div class="error-code m-b-10 m-t-20">Error 401<i class="fa fa-warning"></i></div>
        <h3 class="font-bold">Acceso Denegado..</h3>

        <div class="error-desc">
            Lo sentimos, no tienes acceso a este recurso o no existe. <br /><div>
                <br>
                <a class="btn btn-info" href="#" role="button"><i class="fa fa-arrow-left"></i> Volver a Home</a>
            </div>
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/69f986080a.js"></script>

</body>