@using Microsoft.AspNetCore.Identity
@using refca.Models
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Vista general";
}

<div id="wrapper">
    @if (User.IsInRole(Roles.Admin))
    {
        @await Html.PartialAsync("_AdminBar")
    }
    else
    {
        @await Html.PartialAsync("_TeacherBar")
    }
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                @if (TempData["StatusMessage"] != null)
                {
                    <div class="status-message">@TempData["StatusMessage"]</div>
                }
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="jumbotron overview">
            <div class="container">
                <div class="col-md-offset-1 col-md-10">
                    <h2 class="text-center page-header">PANEL DE ADMINISTRACIÓN</h2>
                    <p class="text-center">
                        Bienvenido, <span class="text-primary">@UserManager.GetUserName(User)</span>
                    </p>
                </div>
                
               
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_Administration"); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}