<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
<div *ngIf="article" class="panel panel-default container">
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{article?.title}}</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Revista</th>
                        <td>{{article?.magazine}}</td>
                    </tr>
                    <tr>
                        <th>ISSN</th>
                        <td>{{article?.issn}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de edición</th>
                        <td>{{article?.editionDate | date}}</td>
                    </tr>
                    <tr>
                        <th>Archivo</th>
                        <td><a target="_blank" *ngIf="article?.articlePath != null" href="{{article?.articlePath}}"><i class="fa fa-download"></i> Descargar</a>
                            <a target="_blank" *ngIf="article?.articlePath == null" style="color:gray; pointer-events: none;"><i class="fa fa-download"></i> Descargar</a></td>
                    </tr>
                    <tr>
                        <th>Autor(es)</th>
                        <td *ngFor="let teacher of article?.teacherArticles">
                            {{teacher.name}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>