<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{thesis?.title}}</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Alumno</th>
                            <td>{{thesis?.studentName}}</td>
                        </tr>
                        <tr>
                            <th>Fecha de publicación</th>
                            <td>{{thesis?.publishedDate | date}}</td>
                        </tr>
                        <tr>
                            <th>Programa educativo</th>
                            <td>{{thesis?.educationProgram.name}}</td>
                        </tr>
                        <tr>
                            <th>Línea de investigación</th>
                            <td>{{thesis?.researchLine.name}}</td>
                        </tr>
                        <tr>
                            <th>Archivo</th>
                            <td><a target="_blank" *ngIf="thesis?.thesisPath != null" href="{{thesis?.thesisPath}}"><i class="fa fa-download"></i> Descargar</a>
                                <a target="_blank" *ngIf="thesis?.thesisPath == null" style="color:gray; pointer-events: none;"><i class="fa fa-download"></i> Descargar</a></td>
                        </tr>
                        <tr>
                            <th>Director(es)</th>
                            <td *ngFor="let teacher of thesis?.teacherTheses">
                                    {{teacher.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>