<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a [routerLink]="['/home']" class="navbar-brand">REFCA</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Productividad <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li>
                            <a [routerLink]="['/articles']">Artículos</a>
                        </li>
                        <li>
                            <a [routerLink]="['/chapterbooks']">Capitulos de libro</a>
                        </li>
                        <li>
                            <a [routerLink]="['/research']">Investigaciones</a>
                        </li>
                        <li>
                            <a [routerLink]="['/books']">Libros</a>
                        </li>
                        <li>
                            <a [routerLink]="['/presentations']">Presentaciones</a>
                        </li>
                        <li>
                            <a [routerLink]="['/magazines']">Revistas</a>
                        </li>
                        <li>
                            <a [routerLink]="['/theses']">Tesis</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/teachers']">Docentes</a>
                </li>
                <li>
                    <a [routerLink]="['/help']">Ayuda</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Account/Login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>