<div class="panel panel-default container">
    <div class="panel-body">
        <div class="row">
            <div class="panel-title">
                <div class="col-md-12">
                    <h3>{{pdetails?.title}}</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="divider"></div>
                <div class="col-md-6"><strong>Congreso</strong></div>
                <div class="col-md-6">{{pdetails?.congress}}</div>
            </div>
            <div class="col-md-12">
                <div class="divider"></div>
                <div class="col-md-6"><strong>Fecha de edición</strong></div>
                <div class="col-md-6">{{pdetails?.editionDate | date}}</div>
            </div>
            <div class="col-md-12">
                <div class="divider"></div>
                <div class="col-md-6"><strong>Archivo</strong></div>
                <div class="col-md-6">
                    <a target="_blank" href="{{pdetails?.presentationPath}}"><i class="fa fa-download"></i> Descargar</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="divider"></div>
                <div class="col-md-6"><strong>Autor(es)</strong></div>
                <div class="col-md-6">
                    <div *ngFor="let teacher of pdetails?.teacherPresentations">
                        {{teacher.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>