<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{mdetails?.title}}</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Index:</th>
                        <td>{{mdetails?.index}}</td>
                    </tr>
                    <tr>
                        <th>ISSN:</th>
                        <td>{{mdetails?.issn}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de edición:</th>
                        <td>{{mdetails?.editionDate | date}}</td>
                    </tr>
                    <tr>
                        <th>Editor</th>
                        <td>{{mdetails?.editor}}</td>
                    </tr>
                    <tr>
                        <th>Edición</th>
                        <td>{{mdetails?.edition}}</td>
                    </tr>
                    <tr>
                        <th>Archivo</th>
                        <td><a target="_blank" *ngIf="mdetails?.magazinePath != null"
                                href="{{mdetails?.magazinePath}}"><i class="fa fa-download"></i> Descargar</a>
                            <a target="_blank" *ngIf="mdetails?.magazinePath  == null"
                                style="color:gray; pointer-events: none;"><i class="fa fa-download"></i> Descargar</a></td>
                    </tr>
                    <tr>
                        <th>Autor(es)</th>
                        <td > 
                            <div *ngFor="let teacher of mdetails?.teacherMagazines">
                                {{teacher.name}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>