<!--Footer-->
<footer class="page-footer">
    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <!--First column-->
            <div class="col-md-5">
                <h5 class="title font-bold">REFCA</h5>
                <p>Repositorio Digital de la Facultad de Contaduría Y Administración en la UABC, Campus Tijuana.</p>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-2">
                <h5 class="title font-bold">Ayuda</h5>
                <div><a [routerLink]="['/help']">Ayuda</a></div>
            </div>
            <!--/.Second column-->
            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title font-bold">Links</h5>
                    <div><a href="http://www.uabc.mx">UABC</a></div>
                    <div><a href="http://fca.tij.uabc.mx">FCA</a></div>
            </div>
            <!--/.Third column-->
            <!--Fourth column-->
            <div class="col-md-3">
                <h5 class="title font-bold ">Contacto</h5>
                <p><i class="fa fa-map-marker"></i> Calzada Universidad No.14418, Parque Industrial Internacional Tijuana, B.C.</p>               
                <p><i class="fa fa-phone"></i><a href="tel:+526642776151"> +52 6642776151</a></p>
                <p><i class="fa fa-envelope"></i><a href="mailto:supportrefca@uabc.edu.mx"> soporterefca@uabc.edu.mx</a></p>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <hr>
    <!--Social buttons-->
    <div class="text-center">
        <div>
            <span><a class="btn btn-sm"><i class="fa fa-facebook"></i></a></span>
            <span><a class="btn btn-sm"><i class="fa fa-twitter"></i></a></span>
        </div>
    </div>
    <!--/.Social buttons-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid text-center">
            © 2017 Copyright: refca.uabc.edu.mx
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
