<div class="tab-pane" id="books">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="query.searchTerm" (keyup.enter)="onFilterChange()" placeholder="Buscar Libro  Por Título, ISBN o Editorial">
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Fecha de Edición</th>
                    <th>Año</th>
                    <th>ISBN</th>
                    <th>Edición</th>
                    <th>Editorial</th>
                    <th>Paginas</th>
                    <th>Género</th>
                    <th>Archivo</th>
                    <th>Autor(es)</th>
                </tr>
            </thead>
            <tbody id="items">
                <tr *ngFor="let b of books.items">
                    <td>{{b?.title}}</td>
                    <td>{{b?.editionDate |date }}</td>
                    <td>{{b?.year}}</td>
                    <td>{{b?.isbn}}</td>
                    <td>{{b?.edition}}</td>
                    <td>{{b?.editorial}}</td>
                    <td>{{b?.printLength}}</td>
                    <td>{{b?.genre}}</td>
                    <td>
                        <a target="_blank" *ngIf="b?.bookPath != null" href="{{b?.bookPath}}"><i class="fa fa-download"></i>
                            <span>Descargar</span>
                        </a>
                        <a target="_blank" *ngIf="b?.bookPath == null" style="color:gray; pointer-events: none;"><i class="fa fa-download"></i> 
                            <span>Descargar</span> 
                        </a>
                    </td>
                    <td>
                        <p *ngFor="let teacher of b.teacherBooks">{{teacher.name}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul *ngIf="pager.pages  && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="onFilterChange(pager.currentPage - 1)">&laquo;</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="onFilterChange(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="onFilterChange(pager.currentPage + 1)">&raquo;</a>
            </li>
        </ul>
    </div>
</div>