<div class="text-center text-white hero">
    <div class="quote">
        <h2 class="white-text">REFCA</h2>
        <hr>
        <h3 class="white-text">Repositorio Digital de la Facultad de Contaduría Y Administración en la UABC, Campus Tijuana.</h3>
        <div class="btn-group">
            <button class="btn btn-sm btn-success">Productividad</button>
            <a href="#" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a [routerLink]="['/articles']">Artículos</a>
                </li>
                <li>
                    <a [routerLink]="['/chapterbooks']">Capitulos de libro</a>
                </li>
                <li>
                    <a [routerLink]="['/research']">Investigaciones</a>
                </li>
                <li>
                    <a [routerLink]="['/books']">Libros</a>
                </li>
                <li>
                    <a [routerLink]="['/presentations']">Presentaciones</a>
                </li>
                <li>
                    <a [routerLink]="['/magazines']">Revistas</a>
                </li>
                <li>
                    <a [routerLink]="['/theses']">Tesis</a>
                </li>
            </ul>
        </div>
        <a [routerLink]="['/teachers']" class="btn btn-sm btn-warning">Docentes</a>
    </div>
</div>