<div class="container search text-center">
    <div class="row search">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group ">
                <input type="text" class="form-control test input-md" [(ngModel)]="query.searchTerm" (keyup.enter)="getAll()" >
                <span class="input-group-btn">
                <button (click)="getAll()" class="btn btn-link" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="container-research">
        
        <div *ngIf="hasArticles">
            <div class="panel-research">
                <div class="panel panel-default fade-in">
                <div class="panel-heading "><b>Articulos</b></div>
                    <div class="panel-body"> 
                        <div *ngFor="let a of articles.items;  let i=index">
                            <div *ngIf="i<3">
                                <p class="text-left"><b><a [routerLink]="['/articles',a.id]">{{a.title}}</a></b>. {{a.editionDate | date}}</p>
                                <hr *ngIf="i<2 && i<articles.totalItems-1 ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="hasChapterbooks">
            <div class="panel-research">
                <div class="panel panel-default fade-in">
                <div class="panel-heading"><b>Capítulos de libro</b></div>
                    <div class="panel-body"> 
                        <div *ngFor="let cb of chapterbooks.items;  let i=index">
                            <div *ngIf="i<3">
                                <p><a [routerLink]="['/chapterbooks',cb.id]"> {{cb.title}}</a>. {{cb.publishedDate | date}}</p>
                                <hr *ngIf="i<2 && i<chapterbooks.totalItems-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div *ngIf="hasResearch">
            <div class="panel-research">
                <div class="panel panel-default fade-in">
                <div class="panel-heading"><b>Investigaciones</b></div>
                    <div class="panel-body"> 
                        <div *ngFor="let r of research.items;  let i=index">
                            <div *ngIf="i<3">
                                <p class="text-left"><a [routerLink]="['/research',r.id]"> {{r.title}}</a>. {{r.addedDate | date}}</p>
                                <hr *ngIf="i<2 && i<research.totalItems-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            
        <div *ngIf="hasBooks">
            <div class="panel-research">
                <div class="panel panel-default fade-in">
                <div class="panel-heading"><b>Libros</b></div>
                    <div class="panel-body"> 
                        <div *ngFor="let b of books.items;  let i=index">
                            <div *ngIf="i<3">
                                <p class="text-left"><a [routerLink]="['/books',b.id]"> {{b.title}}</a>. {{b.editionDate | date}}</p>
                                <hr *ngIf="i<2 && i<books.totalItems-1 ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div *ngIf="hasPresentations">
            <div class="panel-research">
                <div class="panel panel-default fade-in">
                <div class="panel-heading"><b>Presentaciones</b></div>
                    <div class="panel-body"> 
                        <div *ngFor="let p of presentations.items;  let i=index">
                            <div *ngIf="i<3">
                                <p class="text-left"><a [routerLink]="['/presentations',p.id]"> {{p.title}}</a>. {{p.editionDate | date}}</p>
                                <hr *ngIf="i<2 && i<presentations.totalItems-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <div *ngIf="hasMagazines">
            <div class="panel-research">
                <div class="panel panel-default fade-in">
                <div class="panel-heading"><b>Revistas</b></div>
                    <div class="panel-body"> 
                        <div *ngFor="let m of magazines.items;  let i=index">
                            <div *ngIf="i<3">
                                <p class="text-left"><a [routerLink]="['/magazines',m.id]"> {{m.title}}</a>. {{m.editionDate | date}}</p>
                                <hr *ngIf="i<2 && i<magazines.totalItems-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div *ngIf="hasTheses">
            <div class="panel-research">
                <div class="panel panel-default fade-in">
                <div class="panel-heading"><b>Tesis</b></div>
                    <div class="panel-body"> 
                        <div *ngFor="let t of theses.items;  let i=index">
                            <div *ngIf="i<3">
                                <p class="text-left"><a [routerLink]="['/theses',t.id]"> {{t.title}}</a>. {{t?.publishedDate | date}}</p>
                                <hr *ngIf="i<2 && i<theses.totalItems-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="well fade-in" *ngIf="!hasResults">
            No se encontraron resultados.
        </div> -->

    </div>
</div>

<div class="text-center text-white hero">
    <div class="quote">
        <div class="headline">
            <h1 class="header-text">Bienvenido a <span class="header-text">REFCA</span></h1>
        </div>
        <hr>
        <h3 class="white-text">Repositorio Digital de la Facultad de Contaduría Y Administración</h3>
        <div class="btn-group">
            <button class="btn btn-sm btn-success">Productividad</button>
            <a href="#" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a [routerLink]="['/articles']">Artículos</a>
                </li>
                <li>
                    <a [routerLink]="['/chapterbooks']">Capitulos de libro</a>
                </li>
                <li>
                    <a [routerLink]="['/research']">Investigaciones</a>
                </li>
                <li>
                    <a [routerLink]="['/books']">Libros</a>
                </li>
                <li>
                    <a [routerLink]="['/presentations']">Presentaciones</a>
                </li>
                <li>
                    <a [routerLink]="['/magazines']">Revistas</a>
                </li>
                <li>
                    <a [routerLink]="['/theses']">Tesis</a>
                </li>
            </ul>
        </div>
        <a [routerLink]="['/teachers']" class="btn btn-sm btn-warning">Docentes</a>
    </div>
</div>