<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{rdetails?.title}}</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Código</th>
                            <td>{{rdetails?.code}}</td>
                        </tr>
                        <tr>
                            <th>Tipo de investigación</th>
                            <td>{{rdetails?.researchType}}</td>
                        </tr>
                        <tr>
                            <th>Fecha de edición</th>
                            <td>{{rdetails?.addedDate | date}}</td>
                        </tr>
                        <tr>
                            <th>Sector</th>
                            <td>{{rdetails?.sector}}</td>
                        </tr>
                        <tr>
                            <th>Inicio de investigación</th>
                            <td>{{rdetails?.initialPeriod}}</td>
                        </tr>
                        <tr>
                            <th>Final de investigación</th>
                            <td>{{rdetails?.finalPeriod}}</td>
                        </tr>
                        <tr>
                            <th>Duración de investigación (Años)</th>
                            <td>{{rdetails?.researchDuration}}</td>
                        </tr>
                        <tr>
                            <th>Archivo</th>
                            <td><a target="_blank" *ngIf="rdetails?.researchPath != null" href="{{rdetails?.researchPath}}"><i class="fa fa-download"></i> Descargar</a>
                                <a target="_blank" *ngIf="rdetails?.researchPath == null" style="color:gray; pointer-events: none;"><i class="fa fa-download"></i> Descargar</a></td>
                        </tr>
                        <tr>
                            <th>Autor(es)</th>
                            <td *ngFor="let teacher of rdetails?.teacherResearch">
                                    {{teacher.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>